h1{
    color: #264f6b;
}

.education_name{
    font-weight: bolder;
    color: black;
}

.educational_dates{
     color: #264f6b;
}

label{
    font-size: 10px;
}

.create-main-education {
    transition: transform 450ms;
}

.create-main-education:hover {
    transform: scale(1.08);
    cursor: pointer;
}