
.topic{
    margin: 0;
    float: left;
    color: #264f6b;
}

.col-main{
    display: block;
    align-items: center;
}

.title-language{
    margin-top: 5px;
    color: black;
    font-size: 17px;
}

.main-language {
    transition: transform 450ms;
}

.main-language:hover {
    transform: scale(1.08);
    cursor: pointer;
}