.left{
    height: 297mm;
    padding: 0;
    background-color: #d9d9d9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    float: left;
    
    
}

.row1{
    height: 10%;
    width: 100%;
    background-color: #264f6b;
    
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    display: block;
    text-align: center;
    
}

.row2{
    height: 85%;
    width: 100%;
    background-color: #d9d9d9;
    padding-left: 15px;
}

.row3{
    height: 5%;
    width: 100%;
    background-color: #264f6b;
    border-bottom-left-radius: 8px;
}


h1{
    color: white;
    text-align: center;
    margin: 0;
    font-family: "Trirong";
    font-size: 25px;
}

.img{
    width: 100px;
}